@mixin background-mobile() {
  background-image: url(../assets/RestroomSign.jpg);
  background-repeat: no-repeat;
  background-size: 330%;
  background-position-x: 50%;
  background-position-y: 40%;
  background-attachment: fixed;
  min-height: 100vh;
}

@mixin background-tablet() {
  background-image: url(../assets/RestroomSign.jpg);
  background-repeat: no-repeat;
  background-size: 220%;
  background-position-x: 50%;
  background-position-y: 40%;
  background-attachment: fixed;
  min-height: 100vh;
}

@mixin background-desktop() {
  background-image: url(../assets/RestroomSign.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position-x: 50%;
  background-position-y: 40%;
  background-attachment: fixed;
  min-height: 100vh;
}

@mixin title-mobile() {
  font-size: 1.1rem;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  width: 65vw;
}

@mixin title-tablet() {
  font-size: 2.3rem;
  background-color: white;
  border-radius: 40px;
  border: 2px solid black;
  width: 65vw;
}

@mixin title-desktop() {
  font-size: 3.8rem;
  background-color: white;
  border-radius: 100px;
  border: 2px solid black;
  width: 65vw;
}

@mixin h1-title() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin button() {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family: Optima Bold;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

@mixin button-small() {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-family: Optima Bold;
  font-size: 10px;
  font-weight: 300;
  padding:1px 4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}