* {
  margin: 0;
  box-sizing: border-box;
}


.register {
  padding-top: 76px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  background-image: url(../assets/RestroomSign.jpg);
  background-repeat: no-repeat;
  background-size: 330%;
  background-position-x: 50%;
  background-position-y: 40%;
}

.register-header {
  font-size: 1.7rem;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  width: 99vw;
  margin-bottom: 30px;
}

.register-header > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 90vw;
  text-align: center;
  border-radius: 25px;
  background: rgba(255,255,255, 0.40);
  
}

.register-body::placeholder {
  text-align: center;
  font-size: 1.2rem;
}

.register-body > input {
  width: 270px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.2rem;
}