@import '../sass/vars';

* {
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 480px) {
.register {
  padding-top: 76px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  background-image: url(../assets/RestroomSign.jpg);
  background-repeat: no-repeat;
  background-size: 330%;
  background-position-x: 50%;
  background-position-y: 40%;
}

.register-header {
  font-size: 1.7rem;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  width: 99vw;
  margin-bottom: 30px;
}

.register-header > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 90vw;
  text-align: center;
  border-radius: 25px;
  background: rgba(255,255,255, 0.40);
  
}

.register-body::placeholder {
  text-align: center;
  font-size: 1.2rem;
}

.register-body > input {
  width: 270px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.profile-upload {
  height: 100px;
  width: 100px;
}

.register-button {
  @include button();
  font-size: .7rem;
}

.register-sub-title {
  font-size: 1rem;
}

}

@media (min-width: 481px) {
  .register {
    padding-top: 76px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    background-image: url(../assets/RestroomSign.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position-x: 50%;
    background-position-y: 40%;
  }
  
  .register-header {
    font-size: 3.6rem;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    width: 99vw;
    margin-bottom: 30px;
  }

  .toilet-icon {
    height: 120px;
    width: 120px;
  }
  
  .register-header > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 90vw;
    text-align: center;
    border-radius: 25px;
    background: rgba(255,255,255, 0.40);
    
  }
  
  .register-input::placeholder {
    font-size: 2rem;
  }
  
  .register-body > input {
    border-radius: 10px;
    font-size: 1.2rem;
  }

  .register-input {
    width: 540px;
    height: 50px;
    border-radius: 10px;
    margin-top: 3px ;
  }

  .register-button {
    @include button();
    font-size: 1.2rem;
  }

  .login-link {
    font-size: 1.8rem;
    padding-top: 10px;
  }
  
  .profile-upload {
    height: 200px;
    width: 200px;
  }

  .register-sub-title {
    font-size: 2rem;
  }

  }

  @media (min-width: 769px) {
    .register {
      padding-top: 28px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 200px;
      background-image: url(../assets/RestroomSign.jpg);
      background-repeat: no-repeat;
      background-size: 150%;
      background-position-x: 50%;
      background-position-y: 40%;
    }
    
    .register-header {
      font-size: 5.4rem;
      background-color: white;
      border-radius: 20px;
      border: 2px solid black;
      width: 95vw;
      
    }
  
    .toilet-icon {
      height: 180px;
      width: 180px;
    }
    
    .register-header > h1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .register-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 200vh;
      width: 60vw;
      text-align: center;
      border-radius: 25px;
      background: rgba(255,255,255, 0.40);
      
    }
    
    .register-input::placeholder {
      font-size: 2rem;
    }
    
    .register-body > input {
      border-radius: 10px;
      font-size: 1.7rem;
    }
  
    .register-input {
      width: 540px;
      height: 35px;
      border-radius: 10px;
      margin-top: 3px ;
    }
  
    .register-button {
      @include button();
      font-size: 1.4rem;
    }
  
    .login-link {
      font-size: 1.6rem;
      padding-top: 5px;
    }
    
    .profile-upload {
      height: 150px;
      width: 150px;
      border-radius: 25px;
    }

    .choose-file {
      padding-top: 10px;
    }

    .register-sub-title {
      font-size: 2rem;
    }
    }